// Some sad CSS
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Avenir Next, sans-serif;
}

body {
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  background-repeat: no-repeat;
  height: 100vh;
}
.login-logout-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  color: #fff;
  background-color: #4158d0;
  border-radius: 5px;
  text-decoration: none;
}
.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;

  h1 {
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
  }
  .quiz-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .flip-card {
      background-color: transparent;
      margin: 10px;
      width: 170px;
      height: 170px;
      perspective: 1000px; /* Remove this if you don't want the 3D effect */
    }

    /* This container is needed to position the front and back side */
    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }

    /* Do an horizontal flip when you move the mouse over the flip box container */
    .flip-card.flip .flip-card-inner {
      transform: rotateY(180deg);
    }

    /* Position the front and back side */
    .flip-card-front,
    .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
      border-radius: 20px;
      img {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        margin-bottom: 10px;
      }
    }

    /* Style the front side (fallback if image is missing) */
    .flip-card-front {
      background-color: #fff;
      color: black;
      padding: 20px;

      .card-name {
        p {
          font-size: 12px;
          font-weight: bold;
        }
      }
    }

    /* Style the back side */
    .flip-card-back {
      background-color: rgb(184, 46, 46);
      color: white;
      transform: rotateY(180deg);
    }
    .flip-card.correct .flip-card-back {
      background-color: #18af31;
      color: #fff;
    }
  }
}
