// Some sad CSS
@import "./cards.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Avenir Next, sans-serif;
}

body {
  background: linear-gradient(-45deg, #ddf039, #e73c7e, #23d5d5, #ab23d5);
  background-repeat: no-repeat;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  min-height: 100vh;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
nav {
  height: 78px;
}
.login-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  color: #fff;
  background-color: #4158d0;
  border-radius: 5px;
  text-decoration: none;
}
